// フォントカラー
$main-color--b: #333333;
$main-color--w: #ffffff;
$main-color--gray: #d8d8d8e6;
$main-color--tel: #df2323;
$main-color--textShadow-start: #7488a31e;
$main-color--textShadow-end: #7488a349;

// サイト独自のカラー
$site-color01: #8cc63f;
$site-color01-hover: #024c63;
$site-balloon-color: #635f3a;


// 背景カラー
$main-color-bg: #ffffff;
$contactBtn-color--bg: #90A83D;
$item-hover--bg:#9e9a9a;
$item-hover--bg-b:#4d4d4de6;
$modal-bg:#1e1e1ee6;
$modal-close--bg:#c9c8c8;
$contact-hover--bg: #e3d8c434;

// ボーダーカラー
$border-color--b: #333333;
$item-hover--b:#dfdddd94;


// その他
$yellow-b: #ffd40099;
$pink-t: #E76179;
$contact-item-1: #002f05;
$contact-item-2: #1e4923;
$contact-item-3: #6c886f;
$contact-item-4: #ced7cf;
$swiper-active: #CEBB74;

$tabText: #333333;
$tabText-hover: #d6b366;
$tabText-active: #E1C17B;
