
.is-animation {//アニメーション関係
    // transition-duration: 4s;
    &.-mainTitle{
        .titleArea{
            .title{
                animation-name: fristView-subTitle-animation;
                animation-duration: 4s;
                animation-iteration-count: 1;
                animation-fill-mode:forwards
            }
            .subTitle{
                animation-name: fristView-subTitle-animation;
                animation-duration: 4s;
                animation-iteration-count: 1;
                animation-fill-mode:forwards
            }
        }
        .textArea{
            animation-name: fristView-subTitle-animation;
            animation-duration: 4s;
            animation-iteration-count: 1;
            animation-fill-mode:forwards
        }
    }
    &.-top-contents{
        @include mq(sp){
            .textArea{
                animation-name: topContents-text-animation;
                animation-duration: 5s;
                animation-iteration-count: 1;
                animation-fill-mode:forwards
            }
            .picArea{
                animation-name: topContents-pic-animation;
                animation-duration: 5s;
                animation-iteration-count: 1;
                animation-fill-mode:forwards
            }
        }
    }
    &.-playArea{
        .-play-contents{
            .picArea{
                &.g-item{
                    img{
                        opacity: 0;
                        animation-duration: 4s;
                        animation-iteration-count: 1;
                        animation-fill-mode:forwards;
                    }
                    &.-A{
                        @include mq(sp){
                            img{
                                animation-name: play-c-animation;
                            }
                        }
                        @include mq(tb){
                            img{
                                animation-name: play-a-animation;
                            }
                        }
                    }
                    &.-B{
                        @include mq(sp){
                            img{
                                animation-name: play-a-animation;
                            }
                        }
                        @include mq(tb){
                            img{
                                animation-name: play-b-animation;
                            }
                        }
                    }
                    &.-C{
                        @include mq(sp){
                            img{
                                animation-name: play-b-animation;
                            }
                        }
                        @include mq(tb){
                            img{
                                animation-name: play-c-animation;
                            }
                        }
                    }
                    &.-D{
                        @include mq(sp){
                            img{
                                animation-name: play-f-animation;
                            }
                        }
                        @include mq(tb){
                            img{
                                animation-name: play-d-animation;
                            }
                        }
                    }
                    &.-E{
                        @include mq(sp){
                            img{
                                animation-name: play-d-animation;
                            }
                        }
                        @include mq(tb){
                            img{
                                animation-name: play-e-animation;
                            }
                        }
                    }
                    &.-F{
                        @include mq(sp){
                            img{
                                animation-name: play-d-animation;
                            }
                        }
                        @include mq(tb){
                            img{
                                animation-name: play-f-animation;
                            }
                        }
                    }
                }
            }


        }
    }
    &.-kodawari-contents{
        .-kodawari--p01{
            .g-item{
                opacity: 0;
                &.-A{
                    animation-name: grid-a-animation;
                    animation-duration: 3s;
                    animation-iteration-count: 1;
                    animation-fill-mode:forwards;
                }
                &.-B{
                    animation-name: grid-b-animation;
                    animation-duration: 3s;
                    animation-iteration-count: 1;
                    animation-fill-mode:forwards;
                }
                &.-C{
                    animation-name: grid-c-animation;
                    animation-duration: 3s;
                    animation-iteration-count: 1;
                    animation-fill-mode:forwards;
                }
                &.-D{
                    animation-name: grid-d-animation;
                    animation-duration: 3s;
                    animation-iteration-count: 1;
                    animation-fill-mode:forwards;
                }
                &.-E{
                    animation-name: grid-e-animation;
                    animation-duration: 3s;
                    animation-iteration-count: 1;
                    animation-fill-mode:forwards;
                }
            }
            &--sp{
                .g-item{
                    opacity: 0;
                    &.-A{
                        animation-name: grid-a-animation;
                        animation-duration: 3s;
                        animation-iteration-count: 1;
                        animation-fill-mode:forwards;
                    }
                    &.-B{
                        animation-name: grid-d-animation;
                        animation-duration: 3s;
                        animation-iteration-count: 1;
                        animation-fill-mode:forwards;
                    }
                    &.-C{
                        animation-name: grid-e-animation;
                        animation-duration: 3s;
                        animation-iteration-count: 1;
                        animation-fill-mode:forwards;
                    }
                    &.-D{
                        animation-name: grid-f-animation;
                        animation-duration: 3s;
                        animation-iteration-count: 1;
                        animation-fill-mode:forwards;
                    }
                    &.-E{
                        animation-name: grid-g-animation;
                        animation-duration: 3s;
                        animation-iteration-count: 1;
                        animation-fill-mode:forwards;
                    }
                    &.-F{
                        animation-name: grid-c-animation;
                        animation-duration: 3s;
                        animation-iteration-count: 1;
                        animation-fill-mode:forwards;
                    }
                    &.-G{
                        animation-name: grid-b-animation;
                        animation-duration: 3s;
                        animation-iteration-count: 1;
                        animation-fill-mode:forwards;
                    }
                    &.-H{
                        animation-name: grid-h-animation;
                        animation-duration: 3s;
                        animation-iteration-count: 1;
                        animation-fill-mode:forwards;
                    }
                }
            }
        }
        .-kodawari--p02{
            .g-item{
                opacity: 0;
                &.-A{
                    animation-name: topContents-text-animation;
                    animation-duration: 3s;
                    animation-iteration-count: 1;
                    animation-fill-mode:forwards;
                }
                &.-B{
                    animation-name: grid-f-animation;
                    animation-duration: 3s;
                    animation-iteration-count: 1;
                    animation-fill-mode:forwards;
                }
                &.-C{
                    animation-name: grid-g-animation;
                    animation-duration: 3s;
                    animation-iteration-count: 1;
                    animation-fill-mode:forwards;
                }
            }
            &--sp{
                .g-item{
                    opacity: 0;
                    &.-A{
                        animation-name: grid-a-animation;
                        animation-duration: 3s;
                        animation-iteration-count: 1;
                        animation-fill-mode:forwards;
                    }
                    &.-B{
                        animation-name: grid-d-animation;
                        animation-duration: 3s;
                        animation-iteration-count: 1;
                        animation-fill-mode:forwards;
                    }
                    &.-C{
                        animation-name: grid-e-animation;
                        animation-duration: 3s;
                        animation-iteration-count: 1;
                        animation-fill-mode:forwards;
                    }
                    &.-D{
                        animation-name: grid-f-animation;
                        animation-duration: 3s;
                        animation-iteration-count: 1;
                        animation-fill-mode:forwards;
                    }
                    &.-E{
                        animation-name: grid-g-animation;
                        animation-duration: 3s;
                        animation-iteration-count: 1;
                        animation-fill-mode:forwards;
                    }
                    &.-F{
                        animation-name: grid-h-animation;
                        animation-duration: 3s;
                        animation-iteration-count: 1;
                        animation-fill-mode:forwards;
                    }
                    &.-G{
                        animation-name: grid-c-animation;
                        animation-duration: 3s;
                        animation-iteration-count: 1;
                        animation-fill-mode:forwards;
                    }
                    &.-H{
                        animation-name: grid-b-animation;
                        animation-duration: 3s;
                        animation-iteration-count: 1;
                        animation-fill-mode:forwards;
                    }
                }
            }
        }
        .-kodawari--p03{
            .g-item{
                opacity: 0;
                animation-duration: 3s;
                animation-iteration-count: 1;
                animation-fill-mode:forwards;
                &.-A{
                    @include mq(tb){
                        animation-name: grid-a-animation;
                    }
                }
                &.-B{
                    @include mq(tb){
                        animation-name: grid-b-animation;
                    }
                }
                &.-C{
                    @include mq(tb){
                        animation-name: grid-c-animation;
                    }
                }
            }
            
        }
        .-kodawari--p04{
            .g-item{
                opacity: 0;
                animation-duration: 3s;
                animation-iteration-count: 1;
                animation-fill-mode:forwards;
                &.-A{
                    animation-name: grid-d-animation;
                }
                &.-B{
                    animation-name: grid-e-animation;
                }
                &.-C{
                    animation-name: grid-f-animation;
                }
                &.-D{
                    animation-name: grid-g-animation;
                }
                &.-E{
                    animation-name: grid-h-animation;
                }
            }
        }
    }
    &.-projector-contents{
        .-kodawari--p05{
            .g-item{
                opacity: 0;
                &.-A{
                    animation-name: grid-a-animation;
                    animation-duration: 3s;
                    animation-iteration-count: 1;
                    animation-fill-mode:forwards;
                    @include mq(sp){
                        animation-name: grid-b-animation;
                    }
                }
                &.-B{
                    animation-name: grid-b-animation;
                    animation-duration: 3s;
                    animation-iteration-count: 1;
                    animation-fill-mode:forwards;
                    @include mq(sp){
                        animation-name: grid-c-animation;
                    }
                }
                &.-C{
                    animation-name: grid-c-animation;
                    animation-duration: 3s;
                    animation-iteration-count: 1;
                    animation-fill-mode:forwards;
                    @include mq(sp){
                        animation-name: grid-d-animation;
                    }
                }
                &.-D{
                    animation-name: grid-d-animation;
                    animation-duration: 3s;
                    animation-iteration-count: 1;
                    animation-fill-mode:forwards;
                    @include mq(sp){
                        animation-name: grid-e-animation;
                    }
                }
                &.-E{
                    animation-name: grid-e-animation;
                    animation-duration: 3s;
                    animation-iteration-count: 1;
                    animation-fill-mode:forwards;
                    @include mq(sp){
                        animation-name: grid-a-animation;
                    }
                }
            }
        }
    }
    &.-detail-contents{
        .flexItem{
            opacity: 0;
            &.-A{
                animation-name: flex-a-animation;
                animation-duration: 3s;
                animation-iteration-count: 1;
                animation-fill-mode:forwards;
            }
            &.-B{
                animation-name: flex-b-animation;
                animation-duration: 3s;
                animation-iteration-count: 1;
                animation-fill-mode:forwards;
            }
            &.-C{
                animation-name: flex-c-animation;
                animation-duration: 3s;
                animation-iteration-count: 1;
                animation-fill-mode:forwards;
            }
            &.-D{
                animation-name: flex-d-animation;
                animation-duration: 3s;
                animation-iteration-count: 1;
                animation-fill-mode:forwards;
            }
            &.-E{
                animation-name: flex-e-animation;
                animation-duration: 3s;
                animation-iteration-count: 1;
                animation-fill-mode:forwards;
            }
            &.-F{
                animation-name: flex-f-animation;
                animation-duration: 3s;
                animation-iteration-count: 1;
                animation-fill-mode:forwards;
            }
        }
    }
}


.js-move-bg{//Jsを使用したアニメーション
    overflow: hidden;
    .imgBox{
        &.-kodawari{
            .pc{
                background-image:url(../images/bg/kodawariArea-bg-pc-min.png);
                background-size: cover;
            }
            .sp{
                background-image:url(../images/bg/kodawariArea-bg-pc-min.png);
                background-size: cover;
            }
        }
        &.-sozai{
            .pc{
                background-image:url(../images/bg/sozaiArea-bg-pc-min.png);
                background-size: cover;
            }
            .sp{
                background-image:url(../images/bg/sozaiArea-bg-pc-min.png);
                background-size: cover;
            }
        }
        &.-setsubi{
            .pc{
                background-image:url(../images/bg/setsubiArea-bg-pc_3-min.png);
                background-size: cover;
            }
            .sp{
                background-image:url(../images/bg/setsubiArea-bg-pc_3-min.png);
                background-size: cover;
            }
        }
        &.-chandelier{
            #move-bg-04{
                background-image:url(../images/bg/chandelierArea-bg-pc-min.png);
                background-size: cover;
                transform: translateY(100px) scale(2);
            }
        }
    }
}