

@keyframes fristView-title-animation {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes fristView-subTitle-animation {
    0%{
        opacity: 0;
    }
    50%{
        filter: drop-shadow(8px 7px 1px $main-color--textShadow-start);

    }
    100%{
        filter: drop-shadow(8px 7px 1px $main-color--textShadow-end);
        animation-play-state: paused;
        opacity: 1;
    }
}