@keyframes play-all-animation-sp {
    0%{
        opacity: 0;
    }
    50%{
    }
    100%{
        box-shadow: 10px 10px 4px -3px $main-color--textShadow-end;
        animation-play-state: paused;
        opacity: 1;
    }
}

@keyframes play-a-animation {
    0%{
        opacity: 0;
    }
    30%{
        // filter: drop-shadow(8px 7px 1px $main-color--textShadow-start);
        opacity: 0;
    }
    100%{
        // filter: drop-shadow(8px 7px 1px $main-color--textShadow-end);
        box-shadow: 70px 44px 10px -40px $main-color--textShadow-end;
        animation-play-state: paused;
        opacity: 1;
    }
}

@keyframes play-b-animation {
    0%{
        opacity: 0;
    }
    40%{
        // filter: drop-shadow(8px 7px 1px $main-color--textShadow-start);
        opacity: 0;
    }
    100%{
        // filter: drop-shadow(8px 7px 1px $main-color--textShadow-end);
        box-shadow: 10px 10px 4px -3px $main-color--textShadow-end;
        animation-play-state: paused;
        opacity: 1;
    }
}

@keyframes play-c-animation {
    0%{
        opacity: 0;
    }
    50%{
        // filter: drop-shadow(8px 7px 1px $main-color--textShadow-start);
        opacity: 0;
    }
    100%{
        // filter: drop-shadow(8px 7px 1px $main-color--textShadow-end);
        box-shadow: 10px 10px 4px -3px $main-color--textShadow-end;
        animation-play-state: paused;
        opacity: 1;
    }
}

@keyframes play-d-animation {
    0%{
        opacity: 0;
    }
    60%{
        // filter: drop-shadow(8px 7px 1px $main-color--textShadow-start);
        opacity: 0;
    }
    100%{
        // filter: drop-shadow(8px 7px 1px $main-color--textShadow-end);
        box-shadow: 50px 45px 10px -34px $main-color--textShadow-end;
        animation-play-state: paused;
        opacity: 1;
    }
}

@keyframes play-e-animation {
    0%{
        opacity: 0;
    }
    70%{
        // filter: drop-shadow(8px 7px 1px $main-color--textShadow-start);
        opacity: 0;
    }
    100%{
        // filter: drop-shadow(8px 7px 1px $main-color--textShadow-end);
        box-shadow: 50px 45px 10px -34px $main-color--textShadow-end;
        animation-play-state: paused;
        opacity: 1;
    }
}

@keyframes play-f-animation {
    0%{
        opacity: 0;
    }
    80%{
        // filter: drop-shadow(8px 7px 1px $main-color--textShadow-start);
        opacity: 0;
    }
    100%{
        // filter: drop-shadow(8px 7px 1px $main-color--textShadow-end);
        box-shadow: 20px 20px 6px -10px $main-color--textShadow-end;
        animation-play-state: paused;
        opacity: 1;
    }
}