.l-contents{
	width: 100%;
	height: auto;
	&.-img{// 背景画像のみ
		width: 100%;
		height: auto;
		// プランエリア
		&.-planArea{
			background: black;
		}
	}
	&.-img-bg{// 背景画像＋コンテンツ
		position: relative;
		.imgBox{// 背景画像
			width: 100%;
			height: auto;
		}
		.l-contentsBox{// コンテンツ要素
			width: auto;
			position: absolute;
			&.-header-contact{
				top: 25%;
				right: 5%;
				transform: translateY(-50%);
				width: 56%;
				@include mq(tb){
					top: 50%;
					right: 2%;
					transform: translateY(-50%);
					width: 23%;
				}
				@include mq(tb-pc1600){
					right: 3%;
					width: 20%;
				}
			}
			//サイト右側中段に表示 （PCのみ）
			&.-right-topBtn{
				top: 2.5%;
				left: 50%;
				transform: translateX(-50%);
				width: 100%;
				a{
					display: block;
					padding: 8% 23%;
				}
			}
			// サイト下部に表示（SPのみ）
			&.-right-btmBtn{
				top: 52.5%;
				left: 50%;
				transform: translateX(-50%);
				width: 100%;
				a{
					display: block;
					padding: 8% 23%;
				}
			}
			//サイト下部に表示 （SPのみ）
			&.-bottom-rightBtn{
				@include mq(sp){
					top: 0%;
					left: 76%;
					transform: translateX(-50%);
					width: 50%;
				}
				@include mq(tb){
					top: 0%;
					left: 75%;
					transform: translateX(-50%);
					width: 50%;
				}

				a{
					display: block;
				}
			}
			// サイト下部に表示（SPのみ）
			&.-bottom-leftBtn{
				@include mq(sp){
					top: 0%;
					left: 25%;
					transform: translateX(-50%);
					width: 50%;
				}
				@include mq(tb){
					top: 0%;
					left: 25%;
					transform: translateX(-50%);
					width: 50%;
				}
				a{
					display: block;
				}
			}

			// logo
			&.-site-logo{
				@include mq(tb){
					top: 2%;
					left: 5.5%;
					width: 12%;
				}
			}
			// 設備ボタン
			&.-setsubi-btn{
				top: 43.5%;
				left: 4.74%;
				width: 41.5%;
				@include mq(tb){
				    top: 78.28%;
    				left: 66%;
					width: 15%;
				}
			}
			&.-kukaku-madori{
				top: 71%;
				left: 50%;
				transform: translateX(-50%);
				width: 80%;
			}
			&.-kukaku-arrow{
				top: 84%;
				left: 50%;
				transform: translateX(-50%);
				width: 20%;
			}
			&.-kukaku-house{
				top: 88%;
				left: 50%;
				transform: translateX(-50%);
				width: 93%;
			}
			// オーナー
			&.-owners-slider{
				top: 55%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 100%;
				@include mq(sp){
					.slick-dots{
						bottom: -25px;
					}
				}
				@include mq(tb){
					top: 60%;
				}
			}


			// お問い合わせエリア
			&.-contact{
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 100%;
				height: 100%;
				.g-item{
					&.picArea{
						width: 100%;
						height: 100%;
						img{
							@include mq(sp){
								object-fit: cover;
							}
						}
					}
					&.btnArea{
						@include mq(sp){
							// line-height: 4;
						}
					}
				}
				.contactItem{
					border-radius: 5px;
					transition: all .5s ease;
					overflow: hidden;
					@include mq(sp){
						box-shadow: 1px 1px $main-color--gray;
					}
					&:hover{
						background-color: $contact-hover--bg;
						box-shadow: 1px 1px $main-color--gray;
					}
				}
			}
			// お問い合わせエリア02
			&.-contact02{
				top: 62%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 100%;
				.g-item{
					&.picArea{
						width: 100%;
						height: 100%;
						img{
							@include mq(sp){
								object-fit: cover;
							}
						}
					}
					&.btnArea{
						@include mq(sp){
							// line-height: 4;
						}
					}
				}
				.contactItem{
					border-radius: 5px;
					transition: all .5s ease;
					overflow: hidden;
					@include mq(sp){
						box-shadow: 1px 1px $main-color--gray;
					}
					&:hover{
						background-color: $contact-hover--bg;
						box-shadow: 1px 1px $main-color--gray;
					}
				}
			}
			// お問い合わせエリア03
			&.-contact03{
				top: 70%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 100%;
				@include mq(tb){
					top: 80%;
				}
				.g-item{
					&.picArea{
						width: 100%;
						height: 100%;
						img{
							@include mq(sp){
								object-fit: cover;
							}
						}
					}
					&.btnArea{
						@include mq(sp){
							// line-height: 4;
						}
					}
				}
				.contactItem{
					border-radius: 5px;
					transition: all .5s ease;
					overflow: hidden;
					@include mq(sp){
						box-shadow: 1px 1px $main-color--gray;
					}
					&:hover{
						background-color: $contact-hover--bg;
						box-shadow: 1px 1px $main-color--gray;
					}
				}
			}
			// お問い合わせBoxVer
			&.-contactBoxArea{
				top: 62%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 90%;
				@include mq(tb){
					top: 62%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 70%;
				}
			}

			// ロケーション
			&.-tabArea{
				width: 90%;
				top: 75%;
				left: 50%;
				transform: translate(-50%, -50%);
				@include mq(tb){
					width: 65%;
					top: 72%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}
			// アクセススライダー
			&.-access-sliderArea{
				position: absolute;
				top: 23%;
				width: 100%;
				text-align: center;
				@include mq(sp){
					top: 67%;
					width: 91%;
					left: 50%;
					transform: translateX(-50%);
				}
				@include mq(tb){
					top: 50.25%;
					right: 0;
				}
			}
			// 子育て支援
			&.-text-link{
				left: 50%;
				bottom: 0;
				transform: translateX(-50%);
			}
		}
	}
	&.-contactArea{
		margin: 0vw auto 0vw;
		@include mq(tb){
			margin: 5vw auto 5vw;
		}
	}
	&.-slider{
		width: auto;
		height: auto;
		margin-top: 50px;
		overflow: hidden;
		//下記スマホ以上
		@media screen and (min-width: 767px){
			width: 78%;
			max-width: 1865px;
			margin: 0 auto 100px;
		}
		.option-title{
			font-size: 48px;
			font-family: 'Pathway Gothic One', sans-serif;
			letter-spacing: 1px;
			text-align: left;
			font-weight: bold;
			margin: 0 15px 15px;
		}
		.option-text{
			margin: 0 15px 31px;
			letter-spacing: .6px;
		}
		.pc{
			.option-contents{
				.option-contents--title{//img
					width: 65%;
					margin: auto;
					margin: 0 auto 21px;
				}
			}
			.option-contents--flooring{
				width: 80%;
				max-width: 1200px;
				margin: 0 auto 50px;
			}
		}
		.sp{
			.option-contents{
				.option-contents--title{
					width: 93%;
					max-width: 385px;
					margin: 0 auto 21px;
					img{
						width: 100%;
						height: auto;
					}
				}
				.option-contents--flooring
				{
					margin: auto 15px 60px;
					img{
						width: 100%;
						height: auto;
					}
				}
			}
		}

	}
	// 設備・仕様ページの【 戻る 】
	&.-btnArea{
		&.-return{
			a{
				display: block;
				width: 20%;
				border-radius: 5px;
				overflow: hidden;
				margin: auto;
				text-align: center;
				box-shadow: 1px 1px gray;
				@include mq(tb){
					width: 10%;
				}
				@include mq(tb-pc1400){
					width: 6%;
				}
			}
		}
	}
}


.border-bottom{
	width: 85vw;
	max-width: 1260px;
	margin: 0 auto 4vh;
	border-bottom: 1px solid black;
	@include mq(tb){
		width: 70vw;
		margin: 0 auto 12vh;
	}
	&.-s{
		margin: 0 auto 6vh;
		@include mq(tb){

		}
	}
	&.-last{
		margin: 0 auto;
	}
}
